{{define "head"}}
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>SDR Query Runner</title>
      <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
      <link rel="stylesheet" id="codetheme" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/github.min.css" />
      <link rel="stylesheet" href="/assets/styles.css" />
      <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
      <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/languages/groovy.min.js"></script>
      <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/languages/json.min.js"></script>
      <script src="https://unpkg.com/highlightjs-cypher/dist/cypher.min.js" type="text/javascript"></script>
      <script src="/assets/app.js" defer></script>
    </head>
{{end}}
