<!DOCTYPE html>
<html lang="en" data-color-scheme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SDR Query Runner</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/default.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/languages/groovy.min.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/languages/json.min.js"></script>
    <script src="https://unpkg.com/highlightjs-cypher/dist/cypher.min.js" type="text/javascript"></script>
    <script src="/assets/app.js" defer></script>
  </head>
  <body>
    <main>
      <header>
      <h2>SDR Query Runner</h2>
      </header>
      <section aria-live="assertive">
        <small role="alert" class="flash fg-danger" data-role="error" hidden></small>
      </section>
      <section>
        <form class="form" id="query-form" novalidate>
          <fieldset>
            <legend>Language</legend>
            <label>
              <select id="query-type" name="type">
                <option value="gremlin">Gremlin</option>
                <option value="cypher">Cypher</option>
              </select>
            </label>
          </fieldset>
          <fieldset>
            <legend>Query</legend>
            <label class="editor">
              <textarea id="query-text" name="query" rows="10" placeholder="Enter your Gremlin or Cypher query here"></textarea>
              <div class="highlight"></div>
            </label>
          </fieldset>
          <button type="submit" data-role="submit" class="button-fixed success">
            Run
          </button>
        </form>
      </section>
      <section id="result" aria-live="polite">
        <header>
          <h2> Output </h2>
        </header>
        <div class="copy_button_container">
          <button type="button" data-role="copy" class="button-fixed copy-button success">Copy</button>
        </div>
        <pre><code class="language-json" id="result-content">[]</code></pre>
      </section>
    </main>
  </body>
</html>
